.shiny-output-error { 
  visibility: hidden; 
}

.shiny-output-error:before { 
  visibility: hidden; 
}
  
#leafdown {
  height: calc(100vh - 80px) !important;
}

.leaflet-container { 
  background: #8192A0; 
}
                   
.nav-tabs {
  border-bottom: 0px solid #ddd;
}

.continents{
  background-color: white;
}

#frontPage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#myTitle{
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

#subtitle {
  font-size: 16px;
  text-align: center;
}

#criteriaText {
  text-align: left;
}

#criteriaTitle{
  font-weight: bold;
  font-size: 60px;
}

#criteriaSubtitle {
  font-size: 16px;
}

#authorName {
  text-align: center;
}

#aboutTitle {
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

#aboutText {
  font-size: 16px;
  text-align: center;
}

#countriesColumn {
  margin-top: 0px;
}

body {
  color: #fff;
}

a:link {
  color: #B0BAC3;
}

div.datatables {
  color: #fff;
}

#columnTitle {
  margin-left: 20px;
}

#col-sm-5{
  margin-top: 0px;
}

#authorsTable {
  margin-left: 10px;
}

#navbar-collapse-9350 {
  border-bottom: 0px solid #ddd;
  margin-bottom: 10px;
  background-color: #000000;
}

.nav>li>a {
  color: white;
  font-weight: bold;
  background-color: transparent;
}

.nav-tabs>li.active>a {
  font-weight: bold;
  color: #C44A17;
  background-color: transparent;
  cursor: default;
  border: 0px;
  border-bottom-color: transparent;
}

.nav>li:hover>a {
  color: #C44A17;
  font-weight: bold;
  background-color: transparent;
  border: 0px;
}

.nav-tabs>li.active>a:focus {
  color: #C44A17;
  font-weight: bold;
  background-color: transparent;
  border: 0px;
}
  
.irs--shiny .irs-bar {
  top: 25px;
  height: 8px;
  border-top: 1px solid #C44A17;
  border-bottom: 1px solid #C44A17;
  background: #C44A17;
}

.irs--shiny .irs-single {
  color: #fff;
  text-shadow: none;
  padding: 1px 3px;
  background-color: #C44A17;
  border-radius: 3px;
  font-size: 11px;
  line-height: 1.333;
}

body {
  padding-bottom: 50px;
}