.shiny-output-error { 
  visibility: hidden; 
}

.shiny-output-error:before { 
  visibility: hidden; 
}
  
#leafdown {
  height: calc(100vh - 80px) !important;
}

.leaflet-container { 
  background: #8192A0; 
}
                   
.nav-tabs {
  border-bottom: 0px solid #ddd;
}

.continents{
  background-color: white;
}

#frontPage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

#no {
  padding: 70px 0;
  vertical-align: middle;
  text-align: center;
}

#about {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myTitle{
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

#subtitle {
  font-size: 16px;
  text-align: center;
}

#criteriaText {
  text-align: left;
}

#criteriaTitle{
  font-weight: bold;
  font-size: 60px;
}

#criteriaSubtitle {
  font-size: 16px;
}

#authorName {
  text-align: center;
}

#aboutTitle {
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

#aboutText {
  font-size: 16px;
  text-align: center;
}

#countriesColumn {
  margin-top: 0px;
}

body {
  color: #fff;
}

a:link {
  color: #f7e16f;
}

div.datatables {
  color: #fff;
}

#columnTitle {
  margin-left: 20px;
}

#col-sm-5{
  margin-top: 0px;
}

#authorsTable {
  margin-left: 10px;
}

#navbar-collapse-9350 {
  border-bottom: 0px solid #ddd;
  margin-bottom: 10px;
  background-color: #000000;
}

/*.navbar-default {
  color: white;
  font-weight: bold;
  background-color: #8192A0;
  border-color: transparent;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #8192A0;
}

.navbar-default>li.active>a {
  font-weight: bold;
  color: #C44A17;
  background-color: transparent;
  cursor: default;
  border: 0px;
  border-bottom-color: transparent;
}

.navbar-default>li:hover>a {
  color: #C44A17;
  font-weight: bold;
  background-color: transparent;
  border: 0px;
}

.navbar-default>li.active>a:focus {
  color: #C44A17;
  font-weight: bold;
  background-color: transparent;
  border: 0px;
}*/
  
.irs--shiny .irs-bar {
  top: 25px;
  height: 8px;
  border-top: 1px solid #C44A17;
  border-bottom: 1px solid #C44A17;
  background: #C44A17;
}

.irs--shiny .irs-single {
  color: #fff;
  text-shadow: none;
  padding: 1px 3px;
  background-color: #C44A17;
  border-radius: 3px;
  font-size: 11px;
  line-height: 1.333;
}

body {
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  body {
  padding-bottom: 120px;
  }
}

#logo1 {
  width: 200px;
  height: auto;
  display: inline-block;
  position: absolute;
  left: 0%;
  margin-left: 100px
}

#logo2 {
  width: 200px;
  height: auto;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: 100px
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.infoTable {
  font-size: 10px;
}
