.shiny-output-error { 
  visibility: hidden; 
}

.shiny-output-error:before { 
  visibility: hidden; 
}
  
#leafdown {
  height: calc(100vh - 80px) !important;
}

.leaflet-container { 
  background: transparent; 
}
                   
.nav-tabs {
  border-bottom: 0px solid #ddd;
}

.continents{
  background-color: white;
}

@font-face {
    font-family: 'Latcha';
    src: url('www/fonts/Latcha-Regular.woff2') format('woff2'),
         url('www/fonts/Latcha-Regular.woff') format('woff'),
         url('fonts/Latcha-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#frontPage {
  margin: 0;
  position: relative;
  height: 90vh;
  width: 100%;
  background-color: transparent;
}

.frontElements{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align:center;
}

#about {
  margin: 0;
  position: relative;
  height: 90vh;
  width: 100%;
  background-color: transparent;
}

.aboutElements{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align:center;
}

.myTitle{
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

#subtitle {
  font-size: 16px;
  text-align: center;
  font-family: "Arial";
}

#criteriaText {
  text-align: left;
}

#criteriaTitle{
  font-weight: bold;
  font-size: 60px;
  font-family: 'Latcha';
  color: #F4AA40;
}

#criteriaSubtitle {
  font-size: 16px;
}

#authorName {
  text-align: center;
}

#aboutTitle {
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  font-family: 'Latcha';
  color: #F4AA40;
}

#contact {
  font-weight: bold;
  text-align: center;
}

#aboutText {
  font-size: 16px;
  text-align: center;
}

#aboutText2 {
  font-size: 16px;
  text-align: center;
}

#countriesColumn {
  margin-top: 0px;
}

body {
  color: #000;
}

a:link {
  color: #f7e16f;
}

div.datatables {
  color: #fff;
}

#columnTitle {
  margin-left: 20px;
}

#col-sm-5{
  margin-top: 0px;
}

#authorsTable {
  margin-left: 10px;
}

#navbar-collapse-9350 {
  border-bottom: 0px solid #ddd;
  margin-bottom: 10px;
  background-color: #000000;
}
  
.irs--shiny .irs-bar {
  top: 25px;
  height: 8px;
  border-top: 1px solid #F4AA40;
  border-bottom: 1px solid #F4AA40;
  background: #F4AA40;
}

.irs--shiny .irs-single {
  color: #fff;
  text-shadow: none;
  padding: 1px 3px;
  background-color: #F4AA40;
  border-radius: 3px;
  font-size: 11px;
  line-height: 1.333;
}

body {
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  body {
  padding-bottom: 120px;
  }
}

#logos {
  width: 200px;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.aboutHeaders {
  color: #F4AA40; 
  background:transparent;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F4AA40; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.infoTable {
  font-size: 10px;
}

.shiny-download-link-shiny-bound-output {
  font-size: 1px;
}

img.redonda {
  border-radius: 50%;
  border: 2px solid #F4AA40;
}

 #criterias .btn {
        background-color: #F4AA4080; /* Color de fondo predeterminado */
        color: black;              /* Color del texto */
        border: none;              /* Eliminar el borde */
      }

  #criterias .btn:hover {
        background-color: #F4AA40; /* Color cuando pasa el mouse por encima */
        color: black;
      }

  #criterias .btn.active {
        background-color: #F4AA40; /* Color cuando el botón está seleccionado */
        color: white;
      }

  #criterias .btn:focus {
        box-shadow: none;          /* Eliminar el contorno cuando está enfocado */
      }
      
#img-titulo {
  max-width: 100%; /* Limitar el ancho al 100% del contenedor */
  height: auto;    /* Mantener la proporción de la imagen */
}
